header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 50px;
  z-index: 2;
  height: $headerHeight;
  line-height: $headerHeight;
  color: $textColorHeader;
  background-color: $backgroundColorHeader;
}
