main {
  padding: 50px;
  background-color: $backgroundColorMain;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    margin-bottom: 25px;
    width: 260px;
    height: 380px;
    border-radius: 15px;
    background-color: $backgroundColorCard;
    overflow: hidden;
    transition: 0.4s;
    img {
      display: block;
      width: 260px;
      height: 260px;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}
