// colori
$backgroundColorHeader: black;
$backgroundColorMain: darkslategrey;
$backgroundColorCard: black;

$textColorHeader: white;
$textColorCard: white;

// dimensioni
$headerHeight: 80px;
